@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.gradient1 { 
  width: 100%;
  min-height: 100%;
  z-index: 1;
}


.radial-gradient-position {
  background-image: radial-gradient(circle at bottom right, #3b82f6 -120%, #00000000 50%);
}
.radial-gradient-position1 {
  background-image: radial-gradient(circle at bottom left, #3b82f6 -120%, #00000000 50%);
}
.radial-gradient-position2 {
  background-image: radial-gradient(circle at right, #3b82f6 -100%, #00000000 30%);
}

.radial-gradient-position3 {
  background-image: radial-gradient(circle , #3b82f6 -40%, #00000000 80%);
}
